.idea
assets/
protected/runtime/
themes/classic/views/
/nbproject/private/
/data/attachment
/data/backup
/data/runtime
/data/temp
/data/org
system/config
data/aes.key
data/install.lock
/static
!/static/css
!/static/js
!/static/font
!/static/login
!/static/office